* text=auto !eol
/LICENSE.txt -text
/README.txt -text
/build.xml -text
/codeception.yml -text
/composer.json -text
/sonar-project.properties -text
src-docs/apigen.neon -text
src/Agent/BaseAgent.php -text
src/Agent/IAgent.php -text
src/IAgentModel.php -text
src/IException.php -text
src/Job/Async.php -text
src/Job/BaseJob.php -text
src/Job/Coroutine.php -text
src/Job/Defer.php -text
src/Job/Fiber.php -text
src/Job/IJob.php -text
src/Job/Timer.php -text
src/Supervisor.php -text
src/ThreadModel/Models.txt -text
src/WatchDog.php -text
src/test.php -text
tests/BasicTest.php -text
tests/NewThreadTest.php -text
tests/_support/UnitTester.php -text
tests/unit.suite.yml -text
