* text=auto !eol
/LICENSE.txt -text
/README.txt -text
/appveyor.yml -text
/banner.txt -text
/box.json -text
/build.xml -text
/codeception.yml -text
/composer.json -text
/proctest.cmd -text
/sonar-project.properties -text
src-docs/apigen.neon -text
src/Agent/BaseAgent.php -text
src/Agent/IAgent.php -text
src/Agent/ParallelAgent.php -text
src/Agent/ProcessAgent.php -text
src/Channel.php -text
src/Channel/BaseChannel.php -text
src/Channel/BaseRpcChannel.php -text
src/Channel/IChannel.php -text
src/Channel/IException.php -text
src/Channel/IRpcChannel.php -text
src/Channel/InMemoryChannel.php -text
src/Channel/Message.php -text
src/Channel/ParallaxChannel_InvalidParameterException.php -text
src/Channel/ParallelChannel.php -text
src/Channel/StdPipeChannel.php -text
src/Channel/XMLSocketChannel.php -text
src/IAgentModel.php -text
src/IException.php -text
src/Job/Async.php -text
src/Job/BaseJob.php -text
src/Job/Coroutine.php -text
src/Job/Defer.php -text
src/Job/Fiber.php -text
src/Job/IJob.php -text
src/Job/Timer.php -text
src/SampleJob.php -text
src/Supervisor.php -text
src/ThreadBooter.php -text
src/ThreadModel/Models.txt -text
src/WatchDog.php -text
tests/ApiConformityTest.php -text
tests/BasicTest.php -text
tests/EnvironmentTest.php -text
tests/NewProcessTest.php -text
tests/NewThreadTest.php -text
tests/ThreadBootloaderTest.php -text
tests/_support/SampleJob.php -text
tests/_support/UnitTester.php -text
tests/unit.suite.yml -text
